{{ extend "./base.html" }} {{block 'titleBlock'}}用户中心{{/block}} {{block
'scriptBlock'}}
<script type="text/javascript" src="/news/js/jquery.form.min.js"></script>
{{/block}} {{ block 'contentBlock'}}
<div class="conter_con">
  <div class="user_menu_con fl">
    <div class="user_center_pic">
      <img src="{{user_info.avatar_url}}" alt="用户图片" />
    </div>
    <div class="user_center_name">{{user_info.nick_name}}</div>

    <ul class="option_list">
      <li class="active">
        <a href="/user/base_info" target="main_frame">基本资料</a>
      </li>
      <li><a href="/user/pic_info" target="main_frame">头像设置</a></li>
      <li><a href="user_follow.html" target="main_frame">我的关注</a></li>
      <li><a href="/user/pass_info" target="main_frame">密码修改</a></li>
      <li><a href="user_collection.html" target="main_frame">我的收藏</a></li>
      <li><a href="user_news_release.html" target="main_frame">新闻发布</a></li>
      <li><a href="user_news_list.html" target="main_frame">新闻列表</a></li>
    </ul>
  </div>

  <div class="user_con fr">
    <iframe
      src="/user/base_info"
      frameborder="0"
      name="main_frame"
      class="main_frame"
      id="main_frame"
    ></iframe>
  </div>
</div>

{{/block}}
